.wrapper {
  --search-border-radius: 92px;

  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: var(--default-layout-width);
}

.logo {
  font-weight: 800;
  font-size: 2.3rem;

  .title {
    margin-left: 2px;
  }
}

.action {
  display: flex;
  align-items: center;
}

.action-btn {
  font-size: 2.4rem;
  color: #161823;
  padding: 4px 12px;
  cursor: pointer;
}

.more-button {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-left: 10px;
  padding: 8px;
  cursor: pointer;
}

.user-avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 12px;
  cursor: pointer;
}