.wrapper {
  --search-border-radius: 92px;

  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: var(--default-layout-width);
}

.logo {
  font-weight: 800;
  font-size: 2.3rem;

  .title {
    margin-left: 2px;
  }
}

.search {
  display: flex;
  align-items: center;
  width: 361px;
  height: 46px;
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: var(--search-border-radius);
  padding-left: 16px;
  border: 1px solid transparent;

  input {
    height: 100%;
    color: var(--black-color);
    caret-color: var(--primary-color);
    font-size: 1.6rem;
    flex: 1;

  }

  &:focus-within {
    border-color: rgba(22, 24, 35, 0.2);
  }
}

.clear,
.loading {
  display: flex;
  align-items: center;
  height: fit-content;
  color: rgba(22, 24, 35, 0.34);
  margin-right: 5px;
  font-size: 1.8rem;
  cursor: pointer;
}

.search-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 100%;
  font-size: 2rem;
  border-bottom-right-radius: var(--search-border-radius);
  border-top-right-radius: var(--search-border-radius);
  cursor: pointer;
  color: rgba(22, 24, 35, 0.34);

  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: calc(100% - 18px);
    left: 0;
    background-color: rgba(22, 24, 35, 0.12);
  }

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }

  &:active {
    background-color: rgba(22, 24, 35, 0.06);
  }
}

.search-label {
  font-weight: 500;
  color: rgba(22, 24, 35, 0.2);
  font-size: 1.6rem;
  margin: 6px 0 0 6px;
}

.action {
  display: flex;
  align-items: center;
}

.action-btn {
  font-size: 2.4rem;
  color: #161823;
  padding: 4px 12px;
  cursor: pointer;
}

.more-button {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-left: 10px;
  padding: 8px;
  cursor: pointer;
}

.user-avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 12px;
  cursor: pointer;
}