.wrapper {
  display: flex;
  align-items: center;
  height: 42px;

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }

  .item {
    display: flex;
    justify-content: start;
    width: 100%;
    font-size: 1.7rem;
    font-weight: 600;
  }

  a.item {
    padding: 0 16px;
    border: none;
    color: var(--text-color);
    font-weight: 700;
  }
}

.separate {
  border-top: 1px solid rgba(22, 24, 35, 0.12);
}